<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <!-- 声明JNDI -->
    <resource-env-ref>
        <description>MyBean实例的ObjectFactory</description>
        <resource-env-ref-name>bean/MyBeanFactory</resource-env-ref-name>
        <resource-env-ref-type>com.dranawhite.catalina.jndi.MyBean</resource-env-ref-type>
    </resource-env-ref>

</web-app>